#match {
  display: none;
}
body {
  margin: 2%;
  background-color: #6F5F9E;
}
.btn {
  background-color: #DACEFF;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container {
  border:solid #A89F42 ;
  border-width: 25px;
  padding: 2%;
  background-color: #E6DC85;
}
.container h1 {
  text-align: center;
}
.container p {
  text-align: center;
  border-top: solid ;
  font-size: larger;
  background-color: #DACEFF;
}

.text {
font-size: xx-large;
}
.lang {
  text-align: center;
  font-size: xx-large;
}
.container h3 {
  text-align: center;
}

.container h4 {
  color: #6F5F9E
}