#match {
  display: none;
}
body {
  background-color: rgb(203, 224, 241);
}
.btn {
  background-color: rgb(193, 143, 240);
}

.container {
  border:solid thick blueviolet;
  padding: 2%;
}
.container h1 {
  text-align: center;
}
.container p {
  text-align: center;
  border-top: solid ;
  font-size: larger;
}

.text {
font-size: xx-large;
}
.person1 {
  text-align: center;
  font-size: xx-large;
}
.container h3 {
  text-align: center;
}